<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtZlYY29-_hhs9BT_HMgNEUMjWIdITqqs</string>
	<key>GCM_SENDER_ID</key>
	<string>610128359003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carWash</string>
	<key>PROJECT_ID</key>
	<string>car-wash-b0813</string>
	<key>STORAGE_BUCKET</key>
	<string>car-wash-b0813.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610128359003:ios:7ff4550e37b34812e6d97e</string>
</dict>
</plist>